App/build
App/Pods
App/output
App/App/public
DerivedData
xcuserdata

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

# Generated Config files
App/App/capacitor.config.json
App/App/config.xml

# CapApp-SPM plugin symlinks (recreated by cap sync — absolute paths)
App/CapApp-SPM/symlinks/
